* {
  font-family: Roboto, Arial, sans-serif;
}

section {
  margin: 2em 1em;
  display: flex;
  background-color: darkslategray;
  padding: 1em;
}

.horizontal {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.vertical {
  flex-direction: column;
}

.lijevo {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.spreadfull {
  justify-content: space-between;
}

.spreadless {
  justify-content: space-around;
}

/* items layout here */

.item {
  background-color: gray;
  padding: 1em;
  margin: 1em;
}

.dogrow {
  flex-grow: 3;
}

.doshrink {
  flex-shrink: 3;
}

.doflex {
  flex-basis: 1;
  flex-shrink: 1;
  flex-grow: 1;
  justify-self: flex-start;
}

.dofour {
  width: 20%;
}

/*  css brakepoint & media query */

@media screen and ( min-width: 42.234rem ) {
  .vertical {
    flex-direction: row;
    background-color: red;
    font-size: clamp(12px, 1vw, 24px);
    position: relative;
    overflow-x: auto;
  }
}

@media screen and ( min-width: 56rem ) {
  .vertical {
    background-color: blue;
    font-size: clamp(12px, 1vw, 24px);
  }
}

ul {
  width: 300px;
  background-color: dimgray;
  color: white;
  padding: 2em;
  margin: 3em auto;
}

ul li {
  display: none;
}

ul:hover li {
  display: block;
}